@model ForgotPasswordDTOs
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container-fluid vh-100">
    <div class="row h-100 m-0">
        <!-- Left Image Section -->
        <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center p-0">
            <img src="/img/logo.png" alt="Login Image" width="250">
        </div>

        <!-- Right Form Section -->
        <div class="col-lg-6 d-flex align-items-center justify-content-center shadow-lg p-0">
            <div class="w-75 px-5">
                <div class="text-left mb-4">
                    <h1 class="fw-bold"><em>Forgot Password</em></h1>
                    <hr />
                </div>
                <form id="submit-form" method="post" asp-action="ForgotUserPassword">
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <div class="mb-3">
                        <label for="mobileInput" class="form-label">Enter Mobile Number</label>
                        <input asp-for="MobileNumber" type="text" class="form-control p-2" id="mobileInput" aria-describedby="mobileInput">
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 py-2">Reset Password</button>
                </form>
                <div class="text-center mt-3">
                    <a asp-action="Login" class="text-primary">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_AjaxCallPartial" />
}
