<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Meta Tags -->
    <title>Vidyarthi Book Bank - Buy & Sell School Books Online</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">

    <!-- Primary Meta Tags -->
    <meta name="title" content="Vidyarthi Book Bank - Buy & Sell School Books Online">
    <meta name="description" content="India's largest online marketplace for school books. Buy, sell or exchange new and used textbooks for CBSE, ICSE, State Boards from Class 1 to 12 at best prices.">
    <meta name="keywords" content="school books, textbooks, CBSE books, ICSE books, used books, buy books online, sell books, book exchange, class 1-12 books">
    <meta name="author" content="Vidyarthi Book Bank">

    <!-- Open Graph / Facebook Meta Tags -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://vidyarthibooksonline.com/">
    <meta property="og:title" content="Vidyarthi Book Bank - Buy & Sell School Books Online">
    <meta property="og:description" content="India's largest online marketplace for school books. Buy, sell or exchange new and used textbooks at best prices.">
    <meta property="og:image" content="http://vidyarthibooksonline.com/images/og-image.jpg">

    <!-- Twitter Meta Tags -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://vidyarthibooksonline.com/">
    <meta property="twitter:title" content="Vidyarthi Book Bank - Buy & Sell School Books Online">
    <meta property="twitter:description" content="India's largest online marketplace for school books. Buy, sell or exchange new and used textbooks at best prices.">
    <meta property="twitter:image" content="http://vidyarthibooksonline.com/images/og-image.png">

    <!-- Canonical URL -->
    <link rel="canonical" href="http://vidyarthibooksonline.com/" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <!-- CSS Links -->
    <link href="~/css/toastr.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">

    <!-- Structured Data -->
    <script type="application/ld+json">
        {
          "@@context": "https://schema.org",
          "@@type": "WebSite",
          "name": "Vidyarthi Book Bank",
          "url": "http://vidyarthibooksonline.com/",
          "potentialAction": {
            "@@type": "SearchAction",
            "target": "http://vidyarthibooksonline.com/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
          }
        }
    </script>
    <style>
        .compact-input {
            padding: 0.75rem 0.5rem !important;
            font-size: 0.875rem;
        }
    </style>
</head>
<body>
    <!-----_Header------->
     <partial name="_Header" />

    @RenderBody()

    <section id="company-services" class="padding-large pb-5">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <svg class="quality">
                                <use xlink:href="#quality" />
                            </svg>
                        </div>
                        <div class="icon-box-content">
                            <h4 class="card-title mb-1 text-capitalize text-dark">Quality Checked</h4>
                            <p>Every book undergoes thorough quality inspection</p>
                        </div>
                    </div>
                </div>
               
                <div class="col-lg-3 col-md-6 pb-3 pb-lg-0">
                    <div class="icon-box d-flex">
                        <div class="icon-box-icon pe-3 pb-3">
                            <svg class="shield-plus">
                                <use xlink:href="#shield-plus" />
                            </svg>
                        </div>
                        <div class="icon-box-content">
                            <h4 class="card-title mb-1 text-capitalize text-dark">Secure Payments</h4>
                            <p>100% secure payments via Razorpay & UPI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section Starts -->
    <footer id="footer" class="py-3 bg-light" style="border-radius: 30px 30px 0 0;">
        <div class="container">
            <div class="row">
                <div class="footer-top-area">
                    <div class="row d-flex flex-wrap justify-content-between">
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu">
                                <img src="images/logo.png" width="120" alt="Vidyarthi Book Bank Logo" class="img-fluid mb-2">
                                <p>
                                    India's trusted online marketplace for school books. Buy, sell or exchange textbooks for CBSE, ICSE & State Boards from Class 1-12.
                                </p>
                                <div class="social-links">
                                    <ul class="d-flex list-unstyled">
                                        <li>
                                            <a href="https://facebook.com/vidyarthibookbank" aria-label="Facebook">
                                                <svg class="facebook">
                                                    <use xlink:href="#facebook" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://instagram.com/vidyarthibookbank" aria-label="Instagram">
                                                <svg class="instagram">
                                                    <use xlink:href="#instagram" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/vidyarthibooks" aria-label="Twitter">
                                                <svg class="twitter">
                                                    <use xlink:href="#twitter" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://linkedin.com/company/vidyarthibookbank" aria-label="LinkedIn">
                                                <svg class="linkedin">
                                                    <use xlink:href="#linkedin" />
                                                </svg>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://youtube.com/vidyarthibookbank" aria-label="YouTube">
                                                <svg class="youtube">
                                                    <use xlink:href="#youtube" />
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-6 pb-3">
                            <div class="footer-menu text-capitalize">
                                <h5 class="widget-title pb-2">Quick Links</h5>
                                <ul class="menu-list list-unstyled text-capitalize">
                                    <li class="menu-item mb-1">
                                        <a href="/">Home</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a href="/about-us.html">About</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a href="/shop.html">Shop</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a href="/school-zone.html">School Zone</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a href="#">Sell Your Books</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu text-capitalize">
                                <h5 class="widget-title pb-2">Help & Information</h5>
                                <ul class="menu-list list-unstyled">
                                    <li class="menu-item mb-1">
                                        <a href="#">Track Your Order</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a href="/return-policy.html">Returns Policy</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a href="/shipping-policy.html">Shipping Policy</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a href="/faqs.html">FAQs</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a href="/privacy-policy.html">Privacy Policy</a>
                                    </li>
                                    <li class="menu-item mb-1">
                                        <a href="/terms-and-conditions.html">Terms & Conditions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 pb-3">
                            <div class="footer-menu contact-item">
                                <h5 class="widget-title text-capitalize pb-2">Contact Us</h5>
                                <p>
                                    <i class="fas fa-envelope me-2"></i>
                                    <a href="mailto:info@vidyarthibookbank.com" class="text-decoration-underline">
                                        info@vidyarthibookbank.com
                                    </a>
                                </p>
                                <p>
                                    <i class="fas fa-phone me-2"></i>
                                    <a href="tel:+919052226252" class="text-decoration-underline">
                                        +91 9052226252
                                    </a>
                                </p>
                                <p>
                                    <i class="fas fa-map-marker-alt me-2"></i>
                                    VIDYARTHI BOOK BANK, H:No: 7-1-72, Mankamma Thota,<br> Karimnagar, Telangana . 505001
                                </p>

                                <div class="payment-methods mt-3">
                                    <h6 class="mb-2">We Accept:</h6>
                                    <div class="d-flex flex-wrap">
                                        <img src="gateway/razorpay-logo.jpg" alt="Razorpay" class="img-fluid me-2 mb-2" width="50">
                                        <img src="gateway/upi-logo.webp" alt="UPI" class="img-fluid me-2 mb-2" width="30">
                                        <img src="gateway/visa-logo.jpeg" alt="Visa" class="img-fluid me-2 mb-2" width="30">
                                        <img src="gateway/mastercard-logo.png" alt="Mastercard" class="img-fluid me-2 mb-2" width="30">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Disclaimer Section (Centered above footer bottom) -->
        <div class="disclaimer-section bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p class="disclaimer m-0 small">
                            <strong>Disclaimer:</strong> Vidyarthi Book Bank is not affiliated with any educational board (CBSE/ICSE/State Boards).
                            We are an independent marketplace for educational books.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer Bottom Section -->
    <div id="footer-bottom" class="py-3 bg-dark">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                    <p class="copyright m-0 text-white">© 2025 Vidyarthi Book Bank. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="legal-links">
                        <a href="/refund-policy.html" class="me-3 text-white">Refund Policy</a>
                        <a href="/cancellation-policy.html" class="me-3 text-white">Cancellation Policy</a>
                        <a href="/grievance-redressal.html" class="me-3 text-white">Grievance Redressal</a>
                        <a href="/legal-notice.html" class="text-white">Legal Notice</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Section Ends -->
    <!-- ==== js dependencies start ==== -->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/toastr.js"></script>
    <script src="~/ajax-helper/logout.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>